	@CHARSET "UTF-8";
	
/* HTML */

	body {
		font: #424242;
		font-size: 14px;
		background-image: url("../resources/imagens/bgDashBoard.jpg");
	}
	
	h1 {
		font-size: 12pt;
		margin: 0px;
		padding: 0px;
		font-weight: 300;
	}
	
	h3 {
		font-size: 9pt;
		margin: 0px;
		padding: 0px;
		font-weight: 200;
	}
	
	
/*CLASSES */

	

	.dataTable-001{
		width: 800px;
		position: relative;
		left: auto;
		right: auto;
		top:90px;
		border: none;
		margin: auto;
		
	}


	.div-001 {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 920px;
	}
	
	
	.div-002 {
		position: relative;
		top: 10px;
		background-color: #f3f3f3;
		border-radius: 190px;
		width: 900px;
		height: 600px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
	}
	
	
	.form-001{
	
	}
	
	
	.panelgrid-001 {
		position: relative;
		left: auto;
		right: auto;
		margin: auto;
		top: 50px;
	}
	
	
	.tabView-001{
		width: 800px;
		height: 800px;
		top: 30px;
		background-color: rgba(10, 23, 55, 0);
		border: none;
	}
	
	
	
	
	
	
/* IDs */


